.Spinner {
    &Container{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $mercury-light;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeOut 0.5s forwards;
        animation-delay: 3s;
        z-index: 999;
    }

    &Circle {
        height: 70px;
        width: 70px;
        border: 5px solid  $medium-purple;
        border-radius: 100%;
        animation: rotate 1s ease-in-out infinite;
        
        &::before {
            content: "";
            display: block;
            height: 70px;
            width: 70px;
            background-color: $mercury-light;
            margin-top: 35px;
            margin-left: 35px;
        }
    }
}