//padding
$padding-small: 5px;
$padding-normal: 10px;
$padding-large: 30px;


//margin
$margin-small: 5px;
$margin-normal: 10px;
$margin-large: 30px;


$font-size-small: 0.75rem;
$font-size-normal: 1rem;
$font-size-large: 1.3125rem;
