

$cod-gray: #101010;
$medium-purple: #9356DC ;
$light-purple: #f5edff;
$button-gradiant: linear-gradient(175deg,#FF79DA , #9356DC);  

//pastille
$light-green: #99e2d0;
$medium-green: #30a386;


$black-transparent: rgba(0,0,0, 0.2);

$mercury: #eaeaea;
$mercury-light: #f6f6f6 ;


$gray-dark: #353535;

// Background color
$white: #ffffff;
